body {
  background-color: rgb(245, 245, 245);
}

a {
  font-family: "Garamond";
  padding: 14px 16px;
  font-size: 54px;
}

big {
  padding: 14px 20px;
  font-size: 54px;
}



p {
  font-family: "Times New Roman", Times, serif;
  color: rgb(32, 32, 32);
  margin-left: 50px;
}

h1 {
  font-size: 40px;
  font-family: "Georgia";
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  margin-left: 30%; 
}

#container {
  display: flex;
  align-items: center;
  margin-left: 25%; 
}

#container p {
  margin-right: 1em;
}

#container img {
  margin-left: 2em;
}

#two {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(32, 32, 32);
  inline-size: 20%;
  overflow-wrap: break-word;
  line-height: 26pt;
}
