body {
  background-color: rgb(245, 245, 245);
}

#contact-padding {
  padding: 14px 16px;
}

a {
  padding: 14px 16px;
  
}

a.change:link {color:#2e315f;text-decoration:none;}
a.change:visited {color:#0000ff;text-decoration:none;}
a.change:hover {text-decoration:underline;}

big {
  padding: 14px 20px;
  font-size: 54px;
}



#header {
  font-family: "Times New Roman", Times, serif;
  color: rgb(32, 32, 32);
}

h1 {
  font-size: 40px;
  font-family: "Georgia";
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  margin-left: 0%; 
}

body {
  font-family: "Times New Roman", Times, serif;
  padding: 0 16px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#about-me {
  padding: 16px;
  display: block;
}

.about-me-container {
  display: flex;
}


.about-me-text-container {
  margin-right: 16px;
  display: block;
}


#two {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(32, 32, 32);
  inline-size: 80%;
  overflow-wrap: break-word;
  line-height: 26pt;
}

.self {
  height: 300px;
  width: auto;
  max-width: 50%;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink:0;
}