body {
  background-color: rgb(245, 245, 245);
}

a {
  color: #000000;
  font-family: "Garamond";
  padding: 14px 16px;
  text-decoration: none;
  font-size: 54px;
}

big {
  color: #000000;
  font-family: "Garamond";
  padding: 14px 20px;
  text-decoration: none;
  font-size: 54px;
}

h1 {
  font-family: "Georgia";
  color: rgb(0, 0, 0);
  margin-left: 15%;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: rgb(32, 32, 32);
  margin-left: 50px;
}


#two {
  font-family: "Times New Roman", Times, serif;
  color: rgb(32, 32, 32);
  margin-left: 15%;
  inline-size: 350px;
  overflow-wrap: break-word;
  line-height: 20pt;
}

h2 {
  font-family: "Georgia", Times, serif;
  color: rgb(32, 32, 32);
  margin-left: 0px;
}