.topnav {
  background-color: rgb(117, 117, 117);
  overflow: hidden;
}

.topnav a {
  font-family: "Times New Roman", Times, serif;
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(174, 174, 174);
  color: black;
}

.topnav a.active {
  background-color: #6d6d6d;
  color: white;
}